*{font-family: 'Segoe UI'; margin: 0;}
body{background-color: rgb(30,30,30); }
label{color: white;}
.contener{
    display: grid; 
    justify-items: center;
    width: 100%;
}

#inp{background: transparent; border-radius: 5px; color: white;}
    #inp:focus{outline:none; border: 2px solid rgb(190, 168, 38);}        
#canvas{ border: solid 1px white; box-shadow: 0 0 20px rgb(0, 102, 128); border-radius: 20px;}
#wpisaneLiczby{color: white;}

.inputy{margin-top: 20px;}
.btn{
    background-color: azure;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 20px;
}
    .btn:active{
        background-color: rgba(240, 255, 255, 0.527);
        border: 2px solid rgba(192, 192, 192, 0.562);
        transform: scale(0.9);
    }
.text{
    position: relative;
    width: 98%;
    height: 5vh;
    padding: 2vh;
    text-align: center;
    background-color: rgb(17, 17, 17);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: rgb(20, 20, 20);
    text-shadow: 0 0 7px rgb(0, 217, 255);
    font-size: 30px;
}
    .can{
        margin-top: 25px;
    }